.container{
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 0;
    transition: background-color 0.3s;
  } 

  .userCard {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 400px;
  } 
  label {
    font-size: 18px;
    font-weight: bold;
  }

  input {
    width: 80%;
    padding: 7px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
  }
 .themeContainer{
    margin-left: 15px;
 } 
  button {
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(170, 159, 159);
    border: none;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    padding: 5px;
    cursor: pointer;
  } 

  /* Dark mode styles */
  body.dark-mode {
    background-color: #333;
    color: #fff;
  }

  #userCard.dark-mode {
    background-color: #444;
    color: #fff;
  }  
